body
{
    text-align: left;
    color: black;
    font-size: 16px;

}

#container 
{
    width: 90%;
    padding: 1em;
    text-align: left;
    border: 1 px solid blanchedalmond;
    font-family: monospace;
    
}

#post
{
    width: 100 px;
}

#cabecera 
{
    background-color:black;
    font-family: monospace;
    color: rgb(9, 253, 70);
    font-size: 25px;
    margin: 0;
    padding: 0.5em;
    box-shadow: 0px 2px 50px 0px rgb(0,0,0,0.5);

}

#cabecera #tagline
{
    margin: 0 0 0 0 em;
    font-weight: normal;
    font-size: 18px;
}
