body
{
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 16px;
    background-color: black;
    font-family: monospace;

}

h1
{
    font-size: 50px;
   
}

h3
{
    color:rgb(0, 204, 0)
}

#container 
{
    width: 90%;
    padding: 1em;
    text-align: left; color: chartreuse;
    font-family: monospace;
    
    
}

#post
{
    width: 100 px;
}

#cabecera 
{
    background-color:  black;
    font-family: monospace;
    color: rgb(0, 204, 0);
    font-size: 40px;
    margin: 0;
    padding: 0.5em;
    box-shadow: 0px 2px 50px 0px rgb(0,0,0,0.5);

}

#logo
{
    width: 20px; height: 20px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin:0 0 0 2px;
    
}

#cabecera #tagline
{
    margin: 0 0 0 0 em;
    font-weight: normal;
    font-size: 18px;
}
